* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #e0d8d3;
}
#main {
    width: 100%;
    height: -webkit-fill-available;
}
/*main div*/
.mainDivClass {
    padding-left: 8%;
    padding-top: 10%;
}

/*image div class*/

.imgDivClass {
    display: inline;
    width: 100%;
    cursor: pointer;
}

/*image style*/
.imgClass {
    width: 400px;
    height: 280px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #ddd;
}
.imgClass:hover {
    box-shadow: 0 0 2px 1px rgba(5, 76, 186, 0.5);
}

.closeSpanClass {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 30%;
    color: #3c3535;
    cursor: pointer;
}
.leftSpanClass {
    color: #3c3535;
    font-size: 30px;
    cursor: pointer;
    padding-left: 15%;
}

.rightSpanClass {
    display: flex;
    flex-direction: row-reverse;
    color: #3c3535;
    font-size: 30px;
    cursor: pointer;
    padding-right: 30%;
}
.imgSlideClass {
    display: none;
    width: 800px;
    height: 560px;
}
.modalContainClass {
    display: none;
}
.imgSlideDivClass {
    padding-left: 20%;
}