* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main {
    width: 100%;
    height: auto;
    background-color: #e0d8d3;
}
/*main div*/
.divClass {
    padding-left: 8%;
}

/*image div class*/

.imgDivClass {
    display: inline;
    width: 100%;
}

/*image style*/
.imgStyle {
    width: 400px;
    height: 280px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #ddd;

}
.imgStyle:hover {
    box-shadow: 0 0 2px 1px rgba(5, 76, 186, 0.5);
}
/*.imgStyle:hover {*/
    /*width: 800px;*/
    /*height: 560px;*/
    /*transition: 1s;*/
/*}*/